mixin message(message, hasReply)
  .panel.panel-default
    .panel-body
      #id(style="display:none;")= message._id
      .row
        .col-md-6
          h4.pull-left(style='padding-right:20px')
            = message.title
          h4
            strong= message.to
      .row.rest(style='display: none;')
        .col-md-12
          hr
          p= message.content
          if hasReply
            a.createMessageBtn(style="display: inline;", id="#{message.fromId}", name="#{message.from}")
              i.fa.fa-envelope-o
          a#delete Delete
