// Sam Edson, Grant Gunnison, Sabrina Drammis
mixin message(message, hasReply)
  .panel.panel-default
    .panel-body
      #id(style="display:none;")= message._id
      .row
        .col-md-7(style='text-overflow: ellipsis')
          h5(style='margin-left:10px;')
            b= message.title
        .col-md-5
          h5.pull-right(style='margin-right:10px;')= message.from
      .row.rest(style='display: none;')
        hr
        .col-md-12
          p= message.content
          if hasReply
            a.createMessageBtn(style="display: inline;", id="#{message.fromId}", name="#{message.from}")
              i.fa.fa-mail-reply
            a#deleteInbox Delete
          else
            a#deleteSentbox Delete
