// Sabrina Drammis, Sam Edson
mixin listing(listing)
  .result.panel.panel-default
    .panel-body
      #id(style="display:none;")= listing._id
      .row
        .col-md-6
          h4
            strong= listing.title
          h5 #{listing.position} | #{listing.company}
          h5 Location: #{listing.location}
        .col-md-6
          .contactInfo
            h5(style="display: inline; padding-right: 7px;") CONTACT
            a.createMessageBtn(style="display: inline;", id="#{listing.employerId}", name="#{listing.employerName}")
              i.fa.fa-envelope-o
            h5 Recruiter: #{listing.employerName}
            - var email = 'Email: '
            h5= email
              a(href="mailto:#{listing.email}")= listing.email
      .row.rest(style='display: none;')
        .col-md-6
          p= listing.description
        .col-md-6
          h5(style='margin-bottom: 1px;') SKILLS
          .mixinSkills
            for skill in listing.skills
              span.label.label-default= skill.name
