mixin listing(listing)
  .panel.panel-default
    .panel-body
      #id(style="display:none;")= listing._id
      .col-md-4
        h4= listing.title
        h4= listing.position
        p= listing.description
        p= listing.location
      .col-md-6
        h4 Skills
        .resultSkills
          for skill in listing.skills
            span.label.label-default= skill.name
