mixin listing(listing)
  .panel.panel-default
    .panel-body
      #id(style="display:none;")= listing._id
      .row
        .col-md-6
          h4
            strong= listing.title
          h5 #{listing.position} | #{listing.company}
          h5= listing.location
        .col-md-6
      .row.rest(style='display: none;')
        .col-md-8
          h4
            strong Description
          div= listing.employerName
          a(href="mailto:#{listing.email}")= listing.email
          br
          p= listing.description
        .col-md-4
          h3
            strong Skills
          .mixinSkills
            for skill in listing.skills
              span.label.label-default= skill.name
