include ../experience

mixin student(student)
  .panel.panel-default.student
    .panel-body
      #id(style="display:none")= student._id
      .row
        .col-md-6
          h4(style="display: inline; padding-right: 7px;")
            strong= student.name
          a(href="mailto:#{student.email}", style="display: inline;")= student.email
          h6= student.summary
        .col-md-6
          div(style="font-size: 16px;") SKILLS
          .mixinSkills
            for skill in student.skills
              span.label.label-primary= skill.name
            for klass in student.classes
              for skill in klass.skills
                span.label.label-default= skill.name

      .row.rest(style='display: none;')
        hr
        .col-md-12
          div(style="font-size: 16px;") EXPERIENCES
          for experience in student.experience
            +experience(experience)
